.btn-projects-container {
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    height: 60px;
    text-align: end;
    margin-top: 2rem; /* Distância dos cards */
    position: relative; /* Contêiner pai relativo */
}

.btn-projects {
    color: #fff;
    padding: 1.3rem 2.3rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    position: absolute; /* Posiciona o botão de forma absoluta em relação ao contêiner */
    right: 0; /* Alinha o botão à direita */
    top: 50%; /* Alinha verticalmente no meio do contêiner */
    transform: translateY(-50%); /* Ajusta para alinhar exatamente no centro */
    overflow: hidden;
    border-radius: 11px;
    background: #03001e;
    background: linear-gradient(80deg, #000000, #1714c7, #7303c0, #03001e);
    cursor: pointer;
}


.btn-projects div.star {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  animation: blink 2s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}
.btn-projects div.shooting-star {
  width: 80px;
  height: 1px;
  position: absolute;
  background: linear-gradient(80deg, #ffffffff, #ffffff00);
  border-radius: 50%;
  transform: rotate(-40deg);
  opacity: 0;
}
.btn-projects div.shooting-star-1 {
  animation: fallingStar1 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}
.btn-projects div.shooting-star-2 {
  animation: fallingStar2 2s 10s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}
.btn-projects div.shooting-star-3 {
  animation: fallingStar3 8s 20s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}
.btn-projects div.shooting-star-4 {
  animation: fallingStar4 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}
@keyframes blink {
  0% { box-shadow: 0 0 10px 0 white; }
  50% { box-shadow: 0 0 10px 2px white; }
  100% { box-shadow: 0 0 10px 0 white; }
}
@keyframes fallingStar1 {
  0% { top: -10px; left: 220px; opacity: 1; }
  100% { top: 200px; left: -20px; opacity: 1; }
}
@keyframes fallingStar2 {
  0% { top: -10px; left: 150px; opacity: 1; }
  100% { top: 200px; left: -90px; opacity: 1; }
}
@keyframes fallingStar3 {
  0% { top: -10px; left: 80px; opacity: 1; }
  100% { top: 200px; left: -160px; opacity: 1; }
}
@keyframes fallingStar4 {
  0% { top: -10px; left: 0px; opacity: 1; }
  100% { top: 200px; left: -240px; opacity: 1; }
}